body {
    margin: 0;
}

a {
    color: var(--texto);
    text-decoration: none;
}

button,
a {
    transition: 0.25s ease;
}

.navbar {
    width: 100%;
    min-height: 70px;
    padding: 0 40px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;

    background: rgba(16, 16, 24, 0.85);
    border-bottom: 1px solid var(--borde);

    backdrop-filter: blur(12px);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar h1 {
    margin: 0;
    font-size: 24px;
    color: var(--blanco);
}

.navbar div {
    display: flex;
    gap: 25px;
}

.navbar a {
    color: var(--texto-secundario);
    font-weight: 600;
}

.navbar a:hover {
    color: var(--morado-hover);
}

main {
    width: min(1200px, 92%);
    margin: 0 auto;
    padding: 50px 0;
}

main h2 {
    color: var(--blanco);
    margin-bottom: 30px;
}


button {
    border: none;
    border-radius: 10px;
    padding: 10px 18px;

    background: var(--morado);
    color: var(--blanco);

    font-family: inherit;
    font-size: 15px;
    font-weight: 600;

    cursor: pointer;
}

button:hover {
    background: var(--morado-hover);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}


main a {
    display: inline-block;
    padding: 10px 18px;

    border-radius: 10px;

    background: var(--morado);
    color: var(--blanco);

    font-weight: 600;
}

main a:hover {
    background: var(--morado-hover);
    transform: translateY(-2px);
}

@media (max-width: 700px) {
    .navbar {
        padding: 15px 20px;
        flex-direction: column;
        gap: 15px;
    }

    .navbar div {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        width: 90%;
        padding: 35px 0;
    }
}