:root {
  /* los -- significan que se esta creando una bariable para asi evitar que se repita el mismo valos muchas veces */

    --fondo: #08080d;       
    --fondo-secundario: #101018;
    --fondo-terciario: #171720;

    --morado: #8b5cf6;
    --morado-hover: #a78bfa;
    --morado-oscuro: #6d28d9;

    --rojo: #ef4444;
    --rojo-hover: #f87171;
    --rojo-oscuro: #b91c1c;

    --blanco: #ffffff;
    --texto: #f4f4f5;
    --texto-secundario: #a1a1aa;¿
    --texto-apagado: #71717a;

    --borde: rgba(255, 255, 255, 0.10);
    --glass: rgba(255, 255, 255, 0.055);

    --sombra: 0 15px 40px rgba(0, 0, 0, 0.45);
    --sombra-morada: 0 10px 35px rgba(139, 92, 246, 0.25);
    --sombra-roja: 0 10px 35px rgba(239, 68, 68, 0.20);

    --radio: 18px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
/* las fuentes se ponen asi para que nuestro navegador sepa en que orden utilix¿zar cada una*/
    font-family:
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif;

    color: var(--texto);

    background:
        radial-gradient(
            circle at 10% 10%,
            rgba(139, 92, 246, 0.10),
            transparent 30%
        ),
        radial-gradient(
            circle at 90% 20%,
            rgba(239, 68, 68, 0.07),
            transparent 28%
        ),
        linear-gradient(
            135deg,
            #050507,
            #0a0a10 50%,
            #08080d
        );

    background-attachment: fixed;
}
